.container_nav{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    min-width: 100% auto;
    height: 130px;
    padding: 20px;
    background-color: #f1cbc0;
    text-decoration: none;
}
.container_nav--li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-right: 25px;
    gap: 30px;
    list-style: none;
}
.container_nav--li li{
    color: rgba(0,0,0,0.7);
    
}
.container_nav--li li:hover{
    cursor: pointer;
}
.container_nav--link{
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}
.container_nav--link:hover{
    color: #2a814c;
}
.container_nav--logo{
    background-image: url(ADOPCION.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 80px;
}
.container_nav--input{
    background-color: #F8EDE3; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-right: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
#input{
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 3px;
    width: 350px;
}
#input:focus{
    outline: none;
}
.container_nav_input--icon i{
    color: rgba(0,0,0,0.5);
}
.container_nav_input--icon{
    margin-right: 5px;
}
.menu_desplegable{
    display: none;
    z-index: 25;
    width: 220px;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #2a814c;
}
.menu_desplegable .requisitos{
    text-decoration: none;
    color: #0e0d35;
}
.menu_desplegable .requisitos:hover{
    color: #f1cbc0;
}
.menu_desplegable:hover{
    display: block;
    position: absolute;
    top: 80px;
    right: 400px;
    color: #f1cbc0;
}
li:hover + .menu_desplegable{
    display: block;
    position: absolute;
    top: 80px;
    right: 400px;
}
.desplegar::after{
    content: '\f078';
    font-family: 'Fontawesome';
}
::after{
    margin-left: 10px;
}
.container_nav #castracion{
    top: 80px;
    right: 65px;
}
.container_nav .castracion::after{
    content: '\f078';
    font-family: 'Fontawesome';
}
.bars{
    display: none;
}
.navbar--responsive{
    display: none;
}


#input[type="search"]::-webkit-search-decoration,
#input[type="search"]::-webkit-search-cancel-button,
#input[type="search"]::-webkit-search-results-button,
#input[type="search"]::-webkit-search-results-decoration { display: none; }

@media only screen and (max-width: 1300px){
    .container_nav--input{
        display: none;
    }
}
@media only screen and (max-width: 929px){
    .container_nav--li{
        display: none;
    }
    .bars{
        display: block;
        font-size: 40px;
    }
    .navbar--responsive a{
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 900;
        text-decoration: none;
        color: #0e0d35;
    }
    .container_nav a{
        text-decoration: none;
    }
    .navbar--open{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: top;
        top: 112px;
        right: 0px;
        padding-top: 20px;
        min-width: 100%;
        height: 100vh;
        background-color: rgb(241, 203, 192); 
        z-index: 100;
        gap: 30px;
        text-align: center;
    }
    
}
@media only screen and (max-width: 480px){
    .menu_responsive a{
        font-size: 15px;
    }
}