.container_carousel{
    min-width: 100%;
    height: 800px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 60px;
}
strong{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.carousel-item img{
    object-fit: cover;
    height: 800px;
}
.carousel-caption{
    text-align: initial;
    justify-content: top;
    color: #ffffff;
}
#contenido{
    font-size: 28px;
    line-height: 1.8em;
}