.aportes-container{
    @include centrar-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    padding: 35px 50px;

    .aporte{
        @include centrar;
        position: relative;
        flex-direction: column;
        border: 1px solid $secondary-color;
        padding: 100px 30px 60px 30px;
        width: 350px;
        border-radius: 15px;
        gap: 30px;

        div{
            @include centrar;
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            background-color: $secondary-color;
            top: -75px;

            img{
                width: 80px;
            }
        }

        h2{
            font-weight: bold;
            font-size: 30px;
        }

        p{
            text-align: center;
            font-weight: 400;
        }

        button{
            position: absolute;
            bottom: -20px;
            @include boton;

            a{
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}

@media only screen and (max-width: 1120px){
    .aportes-container{
        @include centrar;
        gap: 100px;
    }
}