.container_footer {
    @include centrar-between;
    width: 100%;
    padding: 35px;
    bottom: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $secondary-color;

    .footer-redes {
        @include centrar-between;
        gap: 20px;
        flex-direction: column;

        div {
            @include centrar-between;
            gap: 30px;

            a {
                font-size: 25px;
                color: $tertiary-color;
            }
        }

        img {
            width: 150px;
        }

        h5 {
            color: $tertiary-color;
            text-decoration: underline;
        }

    }

    .footer-menu{
        @include centrar-between;
        gap: 20px;
        flex-direction: column;

        a{
            color: $primary-color;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .footer-contacto{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column;

        p{
            color: $primary-color;
            font-weight: 300;
        }
    }

    h3{
        color: $primary-color;
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px){
    .container_footer{
        @include centrar;
        gap: 20px;

        .footer-contacto{
            @include centrar;

            h3{
                font-size: 16px;
            }
        }
    }
}
