.lema-container{
    @include centrar;
    flex-direction: column;
    padding: 50px;
    background-color: $secondary-color;

    p{
        font-size: 40px;
        max-width: 80%;
        text-align: center;
        color: $primary-color;
    }
    h3{
        color: $color-alternative;
        font-size: 40px;
    }

    img{
        width: 150px;
    }
}

@media only screen and (max-width: 650px){
    .lema-container{
        padding: 25px;

        p{
            font-size: 25px;
            width: 95%;
        }
        h3{
            font-size: 25px;
        }
    }
}
@media only screen and (max-width: 360px){
    .lema-container{
        padding: 10px;

        p{
            font-size: 20px;
        }
        h3{
            font-size: 20px;
        }
    }
}