.container_nosotros{
    display: flex;
    align-items: center;
    justify-content: initial;
    margin-top: 100px;
    padding: 100px;
    min-width: 100%;
    min-height: 100vh auto;

    li::before{
        content: ">";
        color: $tertiary-color;
        font-size: 20px;
        font-weight: bold;
        margin-left: -28px;
        margin-right: 15px;
    }
}


.container_nosotros--img{
    display: flex;
    background-image: url(/imagenes/img.jpg);
    background-position: center;
    background-size: cover;
    width: 902px;
    height: 600px;
    margin-bottom: 30px;
}
.container_nosotros--ul{
    font-size: 20px;
    list-style: none;
}
.container_nosotros--contenido{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-width: 100% auto;

    h1{
        padding-left: 0px;
        font-size: 50px;
    }

    #subtitulos{
        margin-bottom: 30px;
    }
    
    #p{
        font-size: 20px;
        font-weight: 400;
    }
}


@media only screen and (max-width: 1100px){
    .container_nosotros{
        padding: 80px;

        .container_nosotros--img{
            width: 700px;
        }
    }

}
@media only screen and (max-width: 820px){
    
    ::before{
        margin: 0px;
    }
    .container_nosotros{
        padding: 25px;
        text-align: justify;

        .container_nosotros--img{
            width: 100%;
        }

        #p{
            font-size: 18px;
            font-family: 'Monserrat', sans-serif;
            text-align: justify;
        }
        h1{
            padding: 5px;
            font-size: 50px;
        }
    }

}
@media only screen and (max-width: 580px){
    .container_nosotros--img{
        display: none;
    }
    .container_nosotros h1{
        font-size: 40px;
    }
    #p{
        font-size: 16px;
    }

}