.container_requisitos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 150px;
    width: 100%;
    height: 100%;
}
hr{
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 35px;
}
p{
    text-align: initial;
    font-weight: bold;
}
span{
    font-weight: 900;
    color: #cb9284;
}
.container--titulo{
    align-items: center;
    justify-content: left;
    width: 80%;
}
.container_requisitos--contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    gap: 20px;

}
.imagen{
    min-width: 100%;
    height: 800px;
    background-image: url('../../imagenes/requisitos.jpg');
    background-size: cover;
    background-position: center;
}
.container_requisitos--tips{
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container_requisitos--finales{
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container_requisitos--lista{
    min-width: 100%;
    border: 1px solid #2a814c;
    border-radius: 5px;
}
.title{
    background-color: #2a814c;
    padding: 10px;
    color: #ffffff;
}
.title::before{
    content: "\f05a";
    font-family: 'Fontawesome';
}
.title span{
    color: #ffffff;
}

::before{
    color: #ffffff;
    margin-right: 10px;
}
.lista_requisitos li{
    font-weight: 600;
    margin: 15px;
    list-style: none;
}
.lista_requisitos li::before{
    content: "\f00c";
    font-family: 'Fontawesome';
    color: #2a814c;
    margin-right: 10px;
}

.lista_requisitos{
    text-align: justify;
}

@media only screen and (max-width: 929px){
    .container--titulo h1{
        font-size: 35px;
    }
}
@media only screen and (max-width: 620px){
    .container_requisitos{
        padding: 10px;
    }
    .imagen{
        width: 100%;
        height: auto;
    }
}