.container_requisitos{
    @include centrar;
    flex-direction: column;
    padding: 50px;
    margin-top: 150px;
    width: 100%;
    height: 100%;

    .container--titulo{
        align-items: center;
        justify-content: left;
        width: 80%;
    }
}
hr{
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 35px;
}
p{
    text-align: initial;
    font-weight: bold;
}
span{
    font-weight: 900;
    color: $secondary-color;
}

.container_requisitos--contenido{
    @include centrar;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    gap: 20px;

    .imagen{
        min-width: 100%;
        height: 800px;
        background-image: url(/imagenes/requisitos.jpg);
        background-size: cover;
        background-position: center;
    }

    .container_requisitos--tips{
        border-top: solid 1px rgba(0, 0, 0, 0.2);
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        min-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .container_requisitos--finales{
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        min-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

::before{
    color: $primary-color;
    margin-right: 10px;
}


@media only screen and (max-width: 929px){
    .container--titulo h1{
        font-size: 35px;
    }
}
@media only screen and (max-width: 620px){
    .container_requisitos{
        padding: 10px;
    }
    .imagen{
        width: 100%;
        height: 450px;
    }
}