.container_rescatados{
    @include centrar;
    flex-wrap: wrap;
    margin-top: 150px;
    padding: 50px;
    width: 100%;
    gap: 50px;

    a{
        color: $secondary-color;
        text-decoration: none;
    }
}

.container_rescatados--card{
    @include shadow;
    cursor: pointer;
    transition: all 0.4s;
    
    &:hover{
        transform: scale(1.08);
    }

    button{
        @include boton;

        &:hover{
            transform: scale(0.98);
        }
    }
    

    #title{
        font-weight: 600;
        font-size: 22px;
    }
    
    .img{
        object-fit: cover;
        width: 284px;
        height: 280px;
    }
}


@media only screen and (max-width: 727px){
    .container_rescatados{
        padding: 10px;
    }
    .img{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 640px){
    .container_rescatados{
        padding: 5px;
        padding-top: 20px;
    }
    .container_rescatados--card{
        width: 100%;
    }
    .img{
        width: 100%;
        height: 100%;
    }
}