.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.container_testimonios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.container_testimonios img{
    object-fit: cover;
    width: 600px;
    height: 300px;
    margin-bottom: 10px;
}
.container_testimonios--contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.container_testimonios--contenido p{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

@media only screen and (max-width: 720px){
    .container_testimonios--contenido p{
        font-size: 18px;
    }
    .container_testimonios{
        display: flex;
        width: 100%;
    }
    .container_testimonios img{
        width: 400px;
    }
}
@media only screen and (max-width: 520px){
    .container_testimonios img{
        width: 300px;
    }
    .container_testimonios{
        display: flex;
        width: 100%;
    }
    .container_testimonios--contenido p{
        font-size: 15px;
    }
}