.container_aportes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
}
.container_aportes h2{
    font-weight: 900;
    font-size: 35px;
}
.container_aportes h6{
    font-weight: bolder;
}
.container_aportes_tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
}
.container_aportes_tarjetas--tarjeta{
    width: 520px;
    height: 220px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}
.container_aportes_tarjetas--tarjeta h2{
    margin-top: 100px;
    font-weight: 400;
}

.tarjeta--0{
    background-image: url(tarjeta.jpg);
    background-position: center;
    background-size: cover;
}
.tarjeta--1{
    background-image: url(tarjeta1.jpg);
    background-position: center;
    background-size: cover;
}
.tarjeta--2{
    background-image: url(tarjeta2.jpg);
    background-position: center;
    background-size: cover;
}
.tarjeta--3{
    background-image: url(tarjeta3.jpg);
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 720px){
    .container_aportes{
        padding: 5px;
    }
    .container_aportes h2{
        font-size: 28px;
    }
}
@media only screen and (max-width: 580px){
    .container_aportes h2{
        font-size: 18px;
    }
    .container_aportes h6{
        font-size: 16px;
    }
    .container_aportes_tarjetas--tarjeta{
        max-width: 400px;
    }
}
@media only screen and (max-width: 420px){
    .container_aportes h2{
        font-size: 15px;
    }
    .container_aportes_tarjetas--tarjeta{
        width: 250px;
    }
}